.header {
	background-color: var(--header-bg);
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 0 24px;
}

.logoWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logoBlock,
.titleBlock,
.toggleBlock {
	flex: 1;
	display: flex;
	align-items: center;
}

.logoBlock {
	justify-content: flex-start;
	gap: 8px;
}

.titleBlock {
	justify-content: center;
}

.toggleBlock {
	justify-content: flex-end;
}

.logo {
	height: 80px;
	width: 80px;
	object-fit: contain;
}

.light {
	display: block;
}

.dark {
	display: none;
}

[data-theme='dark'] .light {
	display: none;
}

[data-theme='dark'] .dark {
	display: block;
}

.titleBlock a {
	color: var(--text-color);
	font-size: 36px;
	font-weight: 500;
	text-decoration: none;
	user-select: none;
	transition: opacity 0.3s ease;
}

.titleBlock a:hover {
	opacity: 0.7;
}